@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include desktop {
    flex-direction: row-reverse;
    margin: 0 auto;
    max-width: 1280px;
  }

  &__content {
    flex: 1;
  }

  &.filters-open {
    @include desktop {
      gap: 1.5rem;

      .main__filter {
        width: 34%;
        display: flex;
      }

      .main__content {
        width: 66%;
      }
    }
  }
}
